* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

.btn {
  font-size: 1.8rem;
  font-weight: 600;
  color: #f2f2f2 !important;
  background: #191919;
  border-radius: 999px;
  text-align: center;
  position: relative;
  display: inline-block;
  padding: 0px 16px;
  line-height: 50px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.banner .btn-banner {
  margin: 20px 0;
  padding: 10px 30px;
  z-index: 0;
}
.banner .btn-banner::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #f2f2f2;
  transform-origin: center;
  transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
  transition: transform 0.45s ease-in-out;
}
.banner .btn-banner:hover {
  color: #191919 !important;
}
.banner .btn-banner:hover::before {
  transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
}

.card .btn {
  font-size: 1.35rem;
  padding: 2px 18px;
  border-radius: 999px;
  position: absolute;
  top: 100%;
  left: 25%;
  transition: all 0.5s ease-in-out 0s;
  background-color: #daa300;
  z-index: 1;
  opacity: 0;
}
.card .btn:hover {
  background-color: #f0b70e;
}
.card:hover .btn:active {
  transition: all 0.15s ease-in-out 0s;
  background-color: #ffdc74;
}
.card:hover .btn {
  top: 80%;
  opacity: 1;
}

header .navbar-brand {
  font-size: 2rem;
  font-weight: 600;
  color: #f2f2f2 !important;
}
header .navbar-brand i {
  padding: 0 10px;
}
header .nav-link {
  color: #f2f2f2 !important;
}
header .header__shop .badge {
  display: inline-block;
  position: relative;
  top: -10px;
  left: -12px;
  padding: 0.2em 0.5rem;
  z-index: 1;
}
header .header__shop .rounded-pill {
  border: 1px solid #191919;
  border-radius: 50% !important;
  background: #f2f2f2;
  color: #191919 !important;
}

nav.black {
  background: rgba(0, 0, 0, 0.744);
}

.banner {
  height: 100vh;
  background: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}
.banner .row {
  padding: 60px 0;
}
.banner .banner__phone__image img {
  width: 800px;
}
.banner img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner .banner__heading {
  font-size: 5.5rem;
  font-weight: 600;
  color: #f2f2f2 !important;
}
.banner .star-rating a {
  color: rgba(255, 255, 255, 0.5);
  margin-right: 10px;
}
.banner .star-rating a:hover {
  color: #f2f2f2;
}
.banner .banner__desc, .banner .banner__price {
  font-size: 2.5rem;
  font-weight: 600;
  color: #f2f2f2 !important;
}
.banner .btn-banner i {
  padding: 0 5px;
}

#content-wrap .row {
  gap: 30px 0px;
}
#content-wrap .card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: solid 1px #f2f2f2;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  transition: 0.3s all ease-in-out;
  height: 600px;
  max-width: 100%;
}

.card .content-overlay {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  height: 120%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}

.card:hover .content-overlay {
  opacity: 1;
}

.card:hover {
  border: none;
  box-shadow: #293e63 0px 22px 70px 4px;
  transform: scale(1.1);
  z-index: 1;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out 0s;
}

.card:hover .content-details {
  top: 40%;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: #f2f2f2;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  font-size: 2rem;
}

.content-details p {
  color: #fff;
  font-size: 1em;
}

.fadeIn-top {
  top: 20%;
}

.card-body {
  padding-bottom: 0;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.card-img {
  padding-top: 10px;
  width: inherit;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}

.card span {
  font-weight: 400;
  font-size: 14px;
}

.card b {
  font-weight: 600;
}

.card h5 {
  font-size: 16px;
}

.card .text-muted {
  font-size: 16px;
}

.brand-box {
  border: 1px solid #eaeaea;
  border-radius: 5px;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #eaeaea;
  padding: 0 5px;
}

.form {
  position: relative;
}

.form__footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 24px;
}

.red-btn {
  background-color: #df461f;
}

.red-btn:hover {
  background-color: #e96443;
}

.yellow-btn {
  background-color: #f0b80f;
}

.yellow-btn:hover {
  background-color: #f1ca55;
}

.microcopy {
  display: block;
  color: #9da3af;
  font-size: 14px;
  margin-top: 4px;
}

a {
  color: #e2007a;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

small {
  font-size: 14px;
  color: #9da3af;
}

.tertiary {
  color: #9da3af;
}

.cart.is-hidden .cart__overlay {
  opacity: 0;
  visibility: hidden;
}

.cart.is-hidden .cart__contents {
  transform: translate(0, 0);
}

.meh {
  position: relative;
  color: #405461;
  font-family: "Muli";
}

.cart__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: visible;
  opacity: 1;
  transition: all 0.25s ease-in;
  background-color: rgba(0, 0, 0, 0.5);
}

.cart__contents {
  position: fixed;
  top: 10%;
  bottom: 0;
  left: 100%;
  width: 500px;
  height: 92%;
  overflow: auto;
  background-color: #fff;
  transition: all 0.25s ease-in-out;
  transform: translate(-100%, 0);
}

.cart__products,
.cart__totals {
  padding: 28px;
}

.cart__totals {
  background-color: #f7f7f7;
}

.font-normal {
  font-weight: normal;
}

small {
  font-size: 75%;
}

.products {
  margin: 24px 0 0;
}

.product {
  display: flex;
  padding: 16px 0;
  border-bottom: 1px solid #ccc;
}

.product:last-child {
  padding-bottom: 0;
  border-bottom-width: 0;
}

.product__thumbnail {
  width: 120px;
  height: 120px;
  /* border: 1px solid #ccc; */
  border-radius: 3px;
  background-color: #fff;
}

.product__details {
  padding-left: 16px;
  flex-grow: 1;
}

.product__name {
  font-weight: bold;
}

.product__stuff {
  margin-top: 8px;
  font-size: 14px;
}

.product__options {
  margin-top: 8px;
  font-size: 14px;
}

td,
th {
  padding-bottom: 12px;
}

tfoot td,
tfoot th {
  padding-top: 12px;
}

.first {
  order: 1;
}

.product {
  display: flex;
  flex-direction: column;
}

.product__1 {
  display: flex;
}

.product__2 {
  display: flex;
  align-items: center;
  padding-top: 16px;
}

.product__2 div {
  flex: 1 1 auto;
}

.product__details {
  display: flex;
  flex-direction: column;
}

.product__price {
  text-align: right;
}

#priceTotal {
  font-weight: 600;
}/*# sourceMappingURL=style.css.map */