.btn {
    @include style-text($fs-1, $fw-3, $color-1);
    @include button($color-2, 999px, center);
    position: relative;
    display: inline-block;
    min-width: 118px;
    padding: 0px $pd-btn;
    line-height: 50px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    z-index: 1;
}

.banner .btn-banner { 
    &::before {
        content: "";
        z-index: -1;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: $color-1;
        transform-origin: center;
        transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
        transition: transform 0.45s ease-in-out;
    }

    &:hover {
        color: $color-2 !important;
    }

    &:hover::before {
        transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
    }
}