.btn {
    @include style-text($fs-1, $fw-3, $color-1);
    @include button($color-2, 999px, center);
    position: relative;
    display: inline-block;
    padding: 0px $pd-btn;
    line-height: 50px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    z-index: 1;
}

.banner .btn-banner {
    margin: 20px 0;
    padding: 10px 30px;
    z-index: 0;
    &::before {
        content: "";
        z-index: -1;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: $color-1;
        transform-origin: center;
        transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
        transition: transform 0.45s ease-in-out;
    }

    &:hover {
        color: $color-2 !important;
    }

    &:hover::before {
        transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
    }
}

.card {
    .btn {
        font-size: $fs-0;
        padding: 2px 18px;
        border-radius: 999px;
        position: absolute;
        top: 100%;
        left: 25%;
        transition: all 0.5s ease-in-out 0s;
        background-color: $color-btn-card;
        z-index: 1;
        opacity: 0;

        &:hover {
            background-color: $color-btn-hover;
        }
    }

    &:hover .btn:active {
        transition: all 0.15s ease-in-out 0s;
        background-color: $color-btn-active;
    }

    &:hover .btn {
        top: 80%;
        opacity: 1;
    }
}
