.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0px $pd-btn;
    line-height: 50px;
    @include style-text($fs-1, $fw-3, $color-1);
    @include button($color-2, 999px, center);
    &:hover {
        color: $color-1;
    }
}

.banner .btn-banner {
    transition: all .7s;
    &:hover {
        background: $color-1;
        color: $color-2 !important;
    }
}