.banner {
    height: 100vh;
    background: $color-gardient;

    .row {
        padding: $pd-banner 0;
    }

    .banner__phone__image img {
        width: 800px;
    }

    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }

    .banner__heading {
        @include style-text($fs-6, $fw-3, $color-1);
    }

    .star-rating a {
        color: $color-star;
        margin-right: 10px;
        &:hover {
            color: $color-1;
        }
    }

    .banner__desc {
        @include style-text($fs-3, $fw-3, $color-1);
    }

    .banner__price {
        @extend .banner__desc;
    }

    .btn-banner i {
        padding: 0 5px;
    }
}
