header {
    .navbar-brand {
        @include style-text($fs-2, $fw-3, $color-1);
        i {
            padding: 0 $pd-1;
        }
    }

    .nav-link {
        color: $color-1 !important;
    }

    .header__shop {
        .badge {
            display: inline-block;
            position: relative;
            top: -10px;
            left: -12px;
            padding: 0.2em 0.5rem;
            z-index: 1;
        }
        .rounded-pill {
            border: 1px solid $color-2;
            border-radius: 50% !important;
            background: $color-1;
            color: $color-2 !important;
        }
    }

    .nav-shop {
        @media screen and (max-width: 1000px) {
            text-align: center;
        }
    }
}

nav.black {
    background: $color-header-move;
}
